BOT_USERNAME=your_bot_username
BOT_TOKEN=123456789:replace_me
BOT_TIMEZONE=Europe/Moscow

DB_HOST=db
DB_PORT=3306
DB_NAME=chats_users_db
DB_USER=useroftheday
DB_PASSWORD=change_me_please

MYSQL_ROOT_PASSWORD=change_root_password_please

DB_CONNECT_RETRIES=20
DB_CONNECT_RETRY_DELAY_MS=3000
